<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331041709873-ghnpabsu6900m77dvcu3qa4dau50bjpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331041709873-ghnpabsu6900m77dvcu3qa4dau50bjpi</string>
	<key>API_KEY</key>
	<string>AIzaSyALw6UPnynwVCsjF5_OwkKWkPxCx5Yrhvk</string>
	<key>GCM_SENDER_ID</key>
	<string>331041709873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.robbie.HomeAssistant</string>
	<key>PROJECT_ID</key>
	<string>home-assistant-mobile-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>home-assistant-mobile-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331041709873:ios:a2494ede1d1b43d1</string>
	<key>DATABASE_URL</key>
	<string>https://home-assistant-mobile-apps.firebaseio.com</string>
</dict>
</plist>