<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APNSAttachmentService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HomeAssistantTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HomeAssistantUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MapNotificationContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>NotificationContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B627CB061D83C87B0057173E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B657A8E51CA646EB00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B657A8FB1CA646EB00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B657A9061CA646EB00121384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B678DB231EA991E30045312F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6AAD7A01D827DD40090B220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
