ENV["GITHUB_API_TOKEN"] = ""
ENV["APPLE_ID"] = ""
ENV["SIGH_USERNAME"] = ENV["HOMEASSISTANT_APPLE_ID"]
ENV["PILOT_APPLE_ID"] = ENV["HOMEASSISTANT_APPLE_ID"]
ENV["DELIVER_USERNAME"] = ENV["HOMEASSISTANT_APPLE_ID"]
