<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Home Assistant</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLKComplicationPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).ComplicationController</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyModularLarge</string>
		<string>CLKComplicationFamilyUtilitarianSmall</string>
		<string>CLKComplicationFamilyUtilitarianSmallFlat</string>
		<string>CLKComplicationFamilyUtilitarianLarge</string>
		<string>CLKComplicationFamilyCircularSmall</string>
		<string>CLKComplicationFamilyExtraLarge</string>
		<string>CLKComplicationFamilyGraphicCorner</string>
		<string>CLKComplicationFamilyGraphicBezel</string>
		<string>CLKComplicationFamilyGraphicCircular</string>
		<string>CLKComplicationFamilyGraphicRectangular</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKApplication</key>
	<true/>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>$(BUNDLE_ID_PREFIX).HomeAssistant$(BUNDLE_ID_SUFFIX)</string>
	<key>WKWatchKitApp</key>
	<dict>
		<key>WKApplication</key>
		<dict>
			<key>WKNotificationScene</key>
			<array>
				<dict>
					<key>WKCategory</key>
					<array>
						<string>ha_notification</string>
						<string>ha_camera</string>
						<string>ha_map</string>
					</array>
					<key>WKStoryboardName</key>
					<string>Interface</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
