#include "HomeAssistant.xcconfig"

CODE_SIGN_STYLE_GUYFAK8DC6_App = Manual
CODE_SIGN_STYLE_GUYFAK8DC6_Extensions_PushProvider = Manual
PROVISIONING_PROFILE_SPECIFIER_GUYFAK8DC6_App = Local Developer: Home Assistant Main App
PROVISIONING_PROFILE_SPECIFIER_GUYFAK8DC6_Extensions_PushProvider = Local Developer: Home Assistant Push Provider

CODE_SIGN_STYLE[sdk=macosx*] = $(CODE_SIGN_STYLE_MAC_$(DEVELOPMENT_TEAM)_$(TARGET_NAME:c99extidentifier):default=$CODE_SIGN_STYLE_DEFAULT)
PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*] = $(PROVISIONING_PROFILE_SPECIFIER_MAC_$(DEVELOPMENT_TEAM)_$(TARGET_NAME:c99extidentifier))
CODE_SIGN_STYLE_MAC_GUYFAK8DC6_App = Manual
PROVISIONING_PROFILE_SPECIFIER_MAC_GUYFAK8DC6_App = Local Developer: Home Assistant Mac Main App

STRIP_INSTALLED_PRODUCT = NO

BUNDLE_ID_SUFFIX = .dev
APP_DISPLAY_NAME = Home Assistant OHF Δ
VALIDATE_PRODUCT = NO
DEBUG_INFORMATION_FORMAT = dwarf
OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG -Xfrontend -warn-long-expression-type-checking=500 -Xfrontend  -warn-long-function-bodies=500
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
LLVM_LTO = NO
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_COMPILATION_MODE = singlefile
ENABLE_STRICT_OBJC_MSGSEND = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
