#include "HomeAssistant.xcconfig"

BUNDLE_ID_SUFFIX = .dev
VALIDATE_PRODUCT = NO
DEBUG_INFORMATION_FORMAT = dwarf
OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG -Xfrontend -warn-long-expression-type-checking=500 -Xfrontend  -warn-long-function-bodies=500
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
LLVM_LTO = NO
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_COMPILATION_MODE = singlefile
ENABLE_STRICT_OBJC_MSGSEND = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
