//
//  HomeAssistant.overrides.xcconfig
//  HomeAssistant
//
//  Created by Tom Brien on 28/06/2020.
//  Copyright © 2020 Robbie Trencheny. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = 4K7NYBS53J
BUNDLE_ID_PREFIX = io.tombrien
CODE_SIGN_STYLE = Automatic
ENABLE_CRITICAL_ALERTS = 0
PROVISIONING_PROFILE_SPECIFIER =
CODE_SIGN_IDENTITY = Apple Development
