// indirect so external team changes don't require entitlement
ENABLE_CRITICAL_ALERTS_QMQYCKL255 = 1

#include "HomeAssistant.xcconfig"

VALIDATE_PRODUCT = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
OTHER_SWIFT_FLAGS = $(inherited) -DRELEASE

ENABLE_NS_ASSERTIONS = NO
LLVM_LTO = YES
SWIFT_OPTIMIZATION_LEVEL = -O
GCC_OPTIMIZATION_LEVEL = s
SWIFT_COMPILATION_MODE = wholemodule
