DEVELOPMENT_TEAM = QMQYCKL255
BUNDLE_ID_PREFIX = io.robbie

// watchOS simulator incompatibility with xcode 12 betas and our dependencies
EXCLUDED_ARCHS[sdk=watchsimulator*] = x86_64 arm64

// indirect so external team changes don't require entitlement
ENABLE_CRITICAL_ALERTS_QMQYCKL255 = 1

// Create this file to override configuration. It's ignored by git
#include? "HomeAssistant.overrides.xcconfig"

// set after overrides in case the team is changed by them
ENABLE_CRITICAL_ALERTS = $(ENABLE_CRITICAL_ALERTS_$(DEVELOPMENT_TEAM))
