name: CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  DEVELOPER_DIR: /Applications/Xcode_13.2.app/Contents/Developer
  FASTLANE_SKIP_UPDATE_CHECK: true
  FASTLANE_XCODE_LIST_TIMEOUT: 60
  FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 60
  HOMEBREW_NO_INSTALL_CLEANUP: TRUE
  BUNDLE_PATH: vendor/bundle

jobs:
  YamlLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: YamlLint
        run: yamllint --strict --format github .

  RuboCop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - name: RuboCop
        run: bundle exec rubocop --format github

  SwiftLint:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        name: "Cache: Pods"
        id: cache_pods
        with:
          path: Pods
          key: ${{ runner.os }}-lint-pods-${{ hashFiles('**/Podfile.lock') }}

      - name: Install Pods
        if: steps.cache_pods.outputs.cache-hit != 'true'
        run: |
          bundle install
          ONLY_SUPPORT_MODULES=1 bundle exec pod install --repo-update

      - name: SwiftLint
        run: Pods/SwiftLint/swiftlint lint --strict --config .swiftlint.yml --reporter github-actions-logging

      - name: SwiftFormat
        run: Pods/SwiftFormat/CommandLineTool/swiftformat --lint --config .swiftformat .

  test:
    runs-on: macos-11
    strategy:
      matrix:
        xcode: ['13.2']
    timeout-minutes: 60
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        name: "Cache: Pods"
        id: cache_pods
        with:
          path: |
            Pods
            Tools/MaterialDesignIcons.ttf
            Tools/MaterialDesignIcons.json
          key: >-
            ${{ runner.os }}-pods-${{ matrix.xcode }}-
            ${{ hashFiles('**/Gemfile.lock', '**/Podfile.lock', 'Tools/BuildMaterialDesignIconsFont.sh') }}

      - uses: actions/cache@v2
        name: "Cache: Gems"
        id: cache_gems
        with:
          path: vendor/bundle
          key: >-
            ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ env.DEVELOPER_DIR }}-${{ hashFiles('**/Gemfile.lock') }}

      - uses: actions/cache@v2
        name: "Cache Derived Data"
        with:
          path: |
            ~/Library/Developer/Xcode/DerivedData/HomeAssistant-*/Build
            ~/Library/Developer/Xcode/DerivedData/HomeAssistant-*/SourcePackages
          key: ${{ runner.os }}-derivedData-cache-${{ hashFiles('**/Podfile.lock',
            'HomeAssistant.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-derivedData-cache

      - name: Avoid inode changes for DerivedData
        run: defaults write com.apple.dt.XCBuild IgnoreFileSystemDeviceInodeChanges -bool YES

      - name: Install Brews
        # right now, we don't need anything from brew for tests, so save some time
        if: ${{ false }}
        run: brew bundle

      - name: Install Gems
        if: steps.cache_gems.outputs.cache-hit != 'true'
        run: bundle install --jobs 4 --retry 3

      - name: Install Pods Release
        if: steps.cache_pods.outputs.cache-hit != 'true'
        run: bundle exec pod install --repo-update

      - name: Run tests
        run: bundle exec fastlane test

      - uses: codecov/codecov-action@v1
        name: "Upload Code Coverage"

      - uses: actions/upload-artifact@v2
        name: "Upload Test Logs"
        if: ${{ always() }}
        with:
          name: test-logs
          path: |
            ~/Library/Logs/DiagnosticReports
            ~/Library/Developer/Xcode/DerivedData/HomeAssistant-*/Logs/Test
            ~/Library/Logs/scan

      - uses: actions/upload-artifact@v2
        name: "Upload Simulator App"
        with:
          name: ios-simulator
          path: ~/Library/Developer/Xcode/DerivedData/HomeAssistant-*/Build/Products/Debug-iphonesimulator/*.app
