name: "Version: Set Version"
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "New Version Number"
      build:
        required: true
        description: "Bump Build Amount"
        default: 1
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
        bundler-cache: true
    - run: "bundle exec fastlane set_version version:${{ github.event.inputs.version }} build:${{ github.event.inputs.build }}"
    - name: Commit changes
      id: commit
      run: |
        source Configuration/Version.xcconfig
        git config --global user.name 'Home Assistant Bot'
        git config --global user.email 'hello@home-assistant.io'
        git add Configuration/Version.xcconfig
        git commit -m "Bump Build to $MARKETING_VERSION ($CURRENT_PROJECT_VERSION)"
        git clean -xfd
        echo ::set-output name=pr_title::"$(git log -1 --pretty='%s')"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        base: master
        branch: create-pull-request/bump_build
        title: ${{ steps.commit.outputs.pr_title }}
        body: "Automatically created by ${{ github.actor }}."
