name: "Version: Set Version"
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "New Version Number"
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          ssh-key: ${{ secrets.HOMEASSISTANT_SSH_DEPLOY_KEY }}
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771  # v1.278.0
        with:
          ruby-version: '3.1'
          bundler-cache: true
      - run: "bundle exec fastlane set_version version:${{ github.event.inputs.version }}"
      - name: Commit changes
        id: commit
        run: |
          source Configuration/Version.xcconfig
          git config --global user.name 'Home Assistant Bot'
          git config --global user.email 'hello@home-assistant.io'
          git add Configuration/Version.xcconfig
          git commit -m "Bump Build to $MARKETING_VERSION ($CURRENT_PROJECT_VERSION)"
          git clean -xfd
          echo ::set-output name=pr_title::"$(git log -1 --pretty='%s')"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725  # v8.0.0
        with:
          base: main
          branch: create-pull-request/bump_build
          title: ${{ steps.commit.outputs.pr_title }}
          body: "Automatically created by ${{ github.actor }}."
          token: ${{ secrets.REPO_SCOPED_TOKEN }}
