<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>POC_pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>POC_pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>beta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>beta</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>bi_pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bi_pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>caribbean-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>caribbean-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>cornflower-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cornflower-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>crimson</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crimson</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>dev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dev</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>electric-violet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>electric-violet</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>fire-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fire-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>ha-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ha-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-beta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-beta</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-dev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-dev</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-release</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-release</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>rainbow_invert</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow_invert</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>release</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>release</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>trans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>trans</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>POC_pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>POC_pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>beta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>beta</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>bi_pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bi_pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>caribbean-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>caribbean-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>cornflower-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cornflower-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>crimson</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crimson</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>dev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dev</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>electric-violet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>electric-violet</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>fire-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fire-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>ha-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ha-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-beta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-beta</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-dev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-dev</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>old-release</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>old-release</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>rainbow_invert</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow_invert</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>release</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>release</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>trans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>trans</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ENV_URL_HANDLER}</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>WebView</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).WebViewSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SettingsSceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Settings</string>
				</dict>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).AboutSceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>About</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>INIntentsSupported</key>
	<array>
		<string>CallServiceIntent</string>
		<string>FireEventIntent</string>
		<string>GetCameraImageIntent</string>
		<string>OpenPageIntent</string>
		<string>PerformActionIntent</string>
		<string>RenderTemplateIntent</string>
		<string>SendLocationIntent</string>
		<string>UpdateSensorsIntent</string>
		<string>WidgetActionsIntent</string>
		<string>WidgetOpenPageIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>googlechrome-x-callback</string>
		<string>fb</string>
		<string>tweetbot</string>
		<string>twitter</string>
		<string>shortcuts</string>
		<string>firefox</string>
		<string>firefox-focus</string>
		<string>firefox-klar</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_hass-mobile-app._tcp</string>
		<string>_home-assistant._tcp</string>
		<string>_matter._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Locate and communicate with your Home Assistant instance.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We suggest selecting &quot;Always Allow&quot; for the best location experience.
            Selecting &quot;Only While Using the App&quot; will disable iBeacons, geofences, background location updates and accurate reporting.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We always need access to your location for features like iBeacons, geofences, background location updates and accurate reporting.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Only allowing location access while app is in use will disable iBeacons, geofences, background location updates and accurate reporting.</string>
	<key>NSLocationUsageDescription</key>
	<string>When enabled, your device location is sent to your Home Assistant server as a device tracker.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion is used to improve location updates with current motion type, as well as provide basic pedometer data.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo Library access is needed to allow saving photos from the web view.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library access is needed to allow saving photos from the web view.</string>
	<key>NSSiriUsageDescription</key>
	<string>We use Siri to allow created shortcuts to interact with the app.</string>
	<key>NFCReaderUsageDescription</key>
	<string>Reading and writing NFC tags allows you to trigger events.</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos and send them to your Home Assistant server.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record audio using your Home Assistant frontend.</string>
	<key>NSFocusStatusUsageDescription</key>
	<string>Report your focus status as a sensor.</string>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>12FC</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760000850101</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CallServiceIntent</string>
		<string>FireEventIntent</string>
		<string>GetCameraImageIntent</string>
		<string>OpenPageIntent</string>
		<string>PerformActionIntent</string>
		<string>RenderTemplateIntent</string>
		<string>SendLocationIntent</string>
		<string>UpdateSensorsIntent</string>
		<string>WidgetActionsIntent</string>
		<string>WidgetOpenPageIntent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeMarkLocation</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SEND_LOCATION_APP_SHORTCUT_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>sendLocation</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCrossWebsiteTrackingUsageDescription</key>
	<string>Optionally enable cross-website tracking if your configuration requires it.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>TemporaryFullAccuracyReasonManualUpdate</key>
		<string>[localized in strings file]</string>
	</dict>
</dict>
</plist>
